<div style="text-align:center">
  <h1>
    Welcome to our airport!
  </h1>
  <div>
    <label style="color: green" *ngIf='!airport[3].state'>4: ...free... </label>
    <label style="color: red" *ngIf='airport[3].state'>4: {{airport[3].craft}}</label>
    <label *ngIf='airport[3].direction === 2'>&uarr; </label>
    <label *ngIf='airport[3].direction === 1'>&darr; </label>
    <label style="color: green" *ngIf='!airport[2].state'>3: ...free... </label>
    <label style="color: red" *ngIf='airport[2].state'>3: {{airport[2].craft}}</label>
    <label *ngIf='airport[2].direction === 2'>&uarr; </label>
    <label *ngIf='airport[2].direction === 1'>&darr; </label>
    <label style="color: green" *ngIf='!airport[1].state'>2: ...free... </label>
    <label style="color: red" *ngIf='airport[1].state'>2: {{airport[1].craft}}</label>
    <label *ngIf='airport[1].direction === 2'>&uarr; </label>
    <label *ngIf='airport[1].direction === 1'>&darr; </label>
    <label style="color: green" *ngIf='!airport[0].state'>1: ...free...</label>
    <label style="color: red" *ngIf='airport[0].state'>1: {{airport[0].craft}}</label>
    <label *ngIf='airport[0].direction === 2'>&uarr;</label>
    <label *ngIf='airport[0].direction === 1'>&darr;</label>
    <br>
    <label style="color: green" *ngIf='!airport[4].state'>5: ...free... </label>
    <label style="color: red" *ngIf='airport[4].state'>5: {{airport[4].craft}}</label>
    <label *ngIf='airport[4].direction === 2'>&uarr; </label>
    <label *ngIf='airport[4].direction === 1'>&darr; </label>
    <label style="color: green" *ngIf='!airport[7].state'>8: ...free...</label>
    <label style="color: red" *ngIf='airport[7].state'>8: {{airport[7].craft}}</label>
    <label *ngIf='airport[7].direction === 2'>&uarr; </label>
    <label *ngIf='airport[7].direction === 1'>&darr; </label>
    <br>
    <label style="color: green" *ngIf='!airport[5].state'>6: ...free... </label>
    <label style="color: red" *ngIf='airport[5].state'>6: {{airport[5].craft}}</label>
    <label *ngIf='airport[5].direction === 2'>&uarr; </label>
    <label *ngIf='airport[5].direction === 1'>&darr; </label>
    <label style="color: green" *ngIf='!airport[6].state'>7: ...free...</label>
    <label style="color: red" *ngIf='airport[6].state'>7: {{airport[6].craft}}</label>
    <label *ngIf='airport[6].direction === 2'>&uarr;</label>
    <label *ngIf='airport[6].direction === 1'>&darr;</label>
    <br>
  </div>
<button (click)="startHttpRequest()">Get state of schedule</button>
<ng-container *ngFor="let flight of schedule; index as i">
  <li> 
      <label>
       {{flight.time}}
      </label>
      <label>
          {{flight.number}}
       </label>
       <label style="color: blue" *ngIf='flight.direction === 1'>
        arrive
      </label>
      <label style="color: blue" *ngIf='flight.direction === 2'>
        departure
      </label>
  </li>
</ng-container>
<router-outlet></router-outlet>
